version: '3.3'

services:
  db:
    container_name: ${CONTAINER_NAME}
    image: ${IMAGE_NAME}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${PORTS}:3306"
    expose:
      - '3306'
    volumes:
      - ./.docker/mysql-conf:/etc/mysql/conf.d
      - ./.docker/mysql-init:/docker-entrypoint-initdb.d 
      - db-<app_name>:/var/lib/mysql
      # [option] - ./.docker/mysql-data:/var/lib/mysql
volumes:
  db-<app_name>: